<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htxk.edusystem.mapper.EduStudentCourseMapper">

    <resultMap id="baseMap" type="com.htxk.edusystem.domain.EduStudentCourse" autoMapping="true">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="studentId" column="student_id" jdbcType="INTEGER"/>
        <result property="courseId" column="course_id" jdbcType="INTEGER"/>
    </resultMap>


    <insert id="addSelectCourse">
        insert into edu_student_course (student_id,course_id) values (#{studentId},#{cid})
    </insert>

    <select id="selectCourseListByStudentId" resultMap="baseMap">
        select * from edu_student_course where student_id = #{studentId}
    </select>

    <delete id="dropCourseList">
        delete from edu_student_course where student_id=#{studentId} and course_id=#{courseId}
    </delete>
</mapper>